  
  .titulo {
    font-family: Roboto-Bold;
    color: #293e69;
    font-size: 1.1em;
    padding-left: 10px;
    padding-right: 0px;
  //  text-shadow: 0 0 .5px rgba(0, 0, 0, .7), 0 .5px 1px rgba(0, 0, 0, .14);
  }
  
  .titulo2 {
    font-family: Roboto-Regular;
    color: #7a8692;
    font-size: 1.1em;
    padding-left: 0px;
    padding-right: 10px;
  //  text-shadow: 0 0 .5px rgba(0, 0, 0, .7), 0 .5px 1px rgba(0, 0, 0, .14);
  }
    
  .tbar {
    background:#FFFFFF;
    box-shadow: 0 0 2px rgba(20, 20, 20, 0.12), 0 2px 4px rgba(22, 22, 22, 0.24); 
  }