 .container-0 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 60px;
 }

 .pesquisa {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 .paginador {

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // width: 540px;
   height: 50px; // padding: 20px 10px;
   background-color: #f5f8fa;
   color: #657786;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
   border-top: 0px; //  min-width: 100px;
   //  max-width: 500px;
 }

 .form-field {
   min-width: 100px;
   max-width: 600px;
   flex-grow: 1;
   padding-top: 20px;
 }

 .container-list {
   flex-grow: 1;
   display: flex;
   flex-direction: row;
   justify-content: center;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
 }

 span {
   color: #56626d;
 }

 img {
   height: 40px;
   width: 30px;
   -webkit-box-shadow: 0.55px 0.55px 0.55px 0.55px rgba(63, 64, 71, 0.5);
   -moz-box-shadow: 0.55px 0.55px 0.55px 0.55px rgba(63, 64, 71, 0.5);
   box-shadow: 0.55px 0.55px 0.55px 0.55px rgba(63, 64, 71, 0.5);
 }

 mat-divider {
   color: #657786;
 }

 mat-form-field {
   color: #55626d;
 }

 mat-nav-list {
   background: #fff;
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-bottom: 0px;
 }

 mat-list-item {
   width: 640px;
   font-family: Roboto-Light;
   color: #657786;
   text-align: left;
 }

 mat-icon {
   color: #8aaac5;
 }

 mat-paginator {
   background-color: #f5f8fa;
   color: #657786;
   width: 540px;
   height: 30px;
 }

 .lista {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  padding-left: 10px;
  
  color: #657786;
  justify-content: space-around;
 }

 .lista-titulo {
   font-family: 'Roboto-Regular';
   font-size: 16px;
   max-height: 20px;
   overflow: hidden;
 }

 .lista-autor {
  font-family: 'Roboto-Regular';
  max-height: 20px;
  font-size: 12px;
}

 .icon {
  padding-right: 5px;
  //  margin-left: -30px;
   font-size: 24px;
   font-weight: 300;
   color: #8aaac5;
   text-shadow: 0 0 0.75px rgba(12, 12, 12, 0.062), 0 1px 2px rgba(10, 10, 10, 0.253);
 }
